body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.intro-header {
    padding-top: 65px;
    padding-bottom: 50px;
    height: 100%;
    text-align: center;
    color: #0099CC;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 30%;
    padding-bottom: 30%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

footer.navbar-inverse {
    padding: 10px 0;
    height: 50px;
}

.centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p.copyright {
    margin-top: auto;
    margin-bottom: auto;
    color: #f8f8f8;
}

.navbar {
    min-height: 65px;
}

.navbar-inverse {
    height: 65px;
    border: 0;
}

.navbar-brand {
    height: 55px;
    z-index: -20;
    margin-top: 5px;
    padding: 0;
    padding-top: 1px;
}

.navbar>.container .navbar-brand {
    margin-left: 5px;
}

.navbar>.container {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 0px;
    margin-left: 0px;
}

.error-container {
    padding-top: 65px;
    padding-bottom: 50px;
    height: 100%;
    text-align: center;
}

.error-container>.container {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
.error-container>.container>.row {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
.error-container>.container>.row>.jumbotron {
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #fff;
}
